

<div  class="h-100" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
    <div class="row">
        <div class="col-9" style="color: white;display: flex;
        text-align: center;flex-direction: column;padding-left: 40px;">
           <span class="title">
            Unveiling Our Story
           </span>
           <span style="padding-bottom: 30px;">
            Discover the essence of IT Hunter—where passion meets innovation. Learn about our journey, values, and the dynamic team driving technological excellence. Join us on this exploration of our story in the ever-evolving realm of Information Technology.
           </span>
      
       
      
        </div>
        <div class="col-3">
            <img style="width: 60%; padding-bottom: 15px;" src="../../assets/image/hero.png">
        </div>
    </div>
    <!--  load body -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px;">
    
    <ng-container >
      <div style="display: flex;justify-content: center;padding-bottom: 15px;">
        <h1> Our Key Metrics</h1>
      </div>
      <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
        <mat-card class="example-card">
          <span class="titleitem">3 - 6 Weeks</span>
            <div style="    text-align: center;" >
              <img  class="itemimg" mat-card-image src="../../assets/image/time.png" alt="Photo of a Shiba Inu">
    
            </div>
          <mat-card-content class="matcontent">
          <span style="font-size: 20px; font-weight: bold;">
            Average time to fill tech roles
          </span>
          </mat-card-content>
    
        </mat-card>
        <mat-card class="example-card">
          <span class="titleitem">3 Months</span>
          <div style="    text-align: center;" >
            <img class="itemimg" mat-card-image src="../../assets/image/lich.png" alt="Photo of a Shiba Inu">
    
          </div>
        <mat-card-content class="matcontent">
        <span style="font-size: 20px; font-weight: bold; ">
          Our pay per hire guarantee
        </span>
        </mat-card-content>
 
      </mat-card>
      <mat-card class="example-card">
        <span class="titleitem">150,000+</span>
        <div style="    text-align: center;" >
          <img class="itemimg" mat-card-image src="../../assets/image/calen.png" alt="Photo of a Shiba Inu">
    
        </div>
      <mat-card-content class="matcontent">
      <span style="font-size: 20px; font-weight: bold;">
        Candidates on our database
      </span>
      </mat-card-content>
  
    </mat-card>
    <mat-card class="example-card">
      <span class="titleitem">3,000+</span>
      <div style="    text-align: center;" >
        <img class="itemimg" mat-card-image src="../../assets/image/user.png" alt="Photo of a Shiba Inu">
  
      </div>
    <mat-card-content class="matcontent">
    <span style="font-size: 20px; font-weight: bold;">
      Total candidates hired
    </span>
    </mat-card-content>

  </mat-card>
      </div>
    
    </ng-container>
    </div>
    
    <!--  load body center -->
    <div class="row" style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px; margin: 0px;">
        <div class="col-8">
          <div>
            <div style="display: flex;flex-direction: column;" >
              <span style="font-size: 25px;font-weight: bold;">Who we are </span>
            </div>
            <p style="padding-top: 30px; padding-bottom: 20px;">
              IT Hunter is an award-winning IT recruitment agency, serving clients across the tech sector. Since our establishment, we've been connecting top IT talent with innovative organizations in various IT domains. 

         </p>
         <p >
          Our expertise spans software development, cybersecurity, data science, and more. We're dedicated to shaping the future of IT careers and helping companies find the tech talent they need to stay at the forefront of innovation.
   
         </p>
          </div>
    </div>
    <div class="col-2">
    <img  src="../../assets//image/who.png">
    </div>
      </div>
    
    
    <!--  load body foodter -->
    <div class="row" style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px; margin: 0px;">
        <div class="col-4">
          <img  src="../../assets//image/version.png">
    
    </div>
    <div class="col-8">
    <div>
      <div style="display: flex;flex-direction: column;" >
        <span style="font-size: 25px;font-weight: bold;">Our vision</span>
      </div>
      <p style="padding-top: 30px; padding-bottom: 20px;">
        We have ambitious aims for the future. Our goal is to grow significantly over the next 5 years and to do so we need the right people. So we are on the search for experienced self-starters who are driven, passionate and curious.

   </p>
   <p style=" padding-bottom: 20px;">
    In the last 12 months we have invested heavily in state-of-the-art recruitment technology, a powerful job search website and a new, refreshed brand identity. These tools are there to support our consultants to provide the best possible service to our customers.

</p>
   <p >
    The recruitment industry is often stigmatised, so our vision is to transform the perception of recruitment. This is no small challenge, but a worthwhile one that drives us to do our best every day.

   </p>
    </div>
    </div>
      </div>
    
      <div class="row" style="background-color: white;  z-index: 99999;
      position: relative;   padding: 50px; margin: 0px;">
          <div class="col-8">
            <div>
              <div style="display: flex;flex-direction: column;" >
                <span style="font-size: 25px;font-weight: bold;">Our story </span>
              </div>
              <p style="padding-top: 30px; padding-bottom: 20px;">
                IT Hunter was born out of a vision in 2023 to revolutionize the way IT professionals and tech-savvy companies find their perfect match. With a dynamic team of tech enthusiasts, HR experts, and developers, we set out to create a specialized platform that caters exclusively to the rapidly evolving Information Technology industry.

  
           </p>
           <p style="padding-bottom: 20px;" >
          With a profound understanding of the IT landscape, we're dedicated to providing a user-friendly, efficient, and tailored experience for all our users. As we continue to grow, we look forward to shaping the future of IT careers and enabling organizations to access the tech talent they need to drive progress and innovation.
     
           </p>
           <p>
            With a profound understanding of the IT landscape, we're dedicated to providing a user-friendly, efficient, and tailored experience for all our users. As we continue to grow, we look forward to shaping the future of IT careers and enabling organizations to access the tech talent they need to drive progress and innovation.
           </p>
            </div>
      </div>
      <div class="col-2">
      <img  src="../../assets//image/sory.png">
      </div>
        </div>
    
      