<div  class="h-100" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
        <div  style="color: white;display: flex;
        text-align: center;flex-direction: column;padding-left: 40px;">
           <span class="title">
            Find Your Next Career Move
           </span>
           <span style="padding-bottom: 30px;">
            Unlock your IT career potential. Explore our job listings now and take the next step towards success!
           </span>
           <div class="input-group mb-3" style="justify-content: center;">
            <div style="width: 50%;">
              <input style="border-radius: 5px;" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <div  >
              <span style="     border: none;background-color: red; color: white;" class="input-group-text" id="basic-addon2">Search</span>
            </div>
          </div>
          <div style="display: flex;width: 100%;justify-content: center; margin-bottom: 50px;">
            <div style="    width: 50%;
            display: flex;
            justify-content: space-between;
            color: white;">
              <span class="itemborder">
                Data Analyst
              </span>
              <span  class="itemborder">
                Front-end Developer
              </span  >
              <span class="itemborder">
                Developer
              </span>
            </div>
          </div>
      
        </div>
      
    <!--  load body -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px 130px 50px 130px;; ">
    
    <ng-container >
      <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
        <span style="display: flex; font-size: 27px;font-weight: bold;">Top Jobs 
            <p  style="color: red;padding-left: 5px;padding-right: 5px;font-weight: bold;" > Match </p>
            
            Your References</span>
     
      </div>
      <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
        <mat-card class="example-card">
            <div style="padding: 10px;" >
                <span class="titleitem">
                    Software Engineer
                </span>
                <div style="display: flex;align-items: center;">
                    <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                    <span>
                        Tech Innovators Inc.
                    </span>
                </div>
    
            </div>
          <mat-card-content>
          <div style="display: flex;align-items: center;" >
           <span style="font-weight: bold;">
            Salary:
           </span>$90,000 - $120,000 / year
          </div>
          <hr>
          <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                Skills:
            </span>Python, Excel, Tableau, Power BI
           </div>
           <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                City:
            </span>Da Nang
           </div>
       
          </mat-card-content>
    
        </mat-card>
   
        <mat-card class="example-card">
            <div style="padding: 10px;" >
                <span class="titleitem">
                    Software Engineer
                </span>
                <div style="display: flex;align-items: center;">
                    <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                    <span>
                        Tech Innovators Inc.
                    </span>
                </div>
    
            </div>
          <mat-card-content>
          <div style="display: flex;align-items: center;" >
           <span style="font-weight: bold;">
            Salary:
           </span>$90,000 - $120,000 / year
          </div>
          <hr>
          <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                Skills:
            </span>Python, Excel, Tableau, Power BI
           </div>
           <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                City:
            </span>Da Nang
           </div>
       
          </mat-card-content>
    
        </mat-card>
        <mat-card class="example-card">
            <div style="padding: 10px;" >
                <span class="titleitem">
                    Software Engineer
                </span>
                <div style="display: flex;align-items: center;">
                    <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                    <span>
                        Tech Innovators Inc.
                    </span>
                </div>
    
            </div>
          <mat-card-content>
          <div style="display: flex;align-items: center;" >
           <span style="font-weight: bold;">
            Salary:
           </span>$90,000 - $120,000 / year
          </div>
          <hr>
          <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                Skills:
            </span>Python, Excel, Tableau, Power BI
           </div>
           <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;">
                City:
            </span>Da Nang
           </div>
       
          </mat-card-content>
    
        </mat-card>
      </div>
    
    </ng-container>
    </div>
    
    <!--  load body center -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px; margin: 0px;">
     <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
      <h1>
        18000 IT jobs in Vietnam
      </h1>>
        <button style="border: none;
        height: 30px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: red;
        color: white;
        border-radius: 5px;"> Filter</button>
      </div>

      <div class="row">
        <div class="col-4">
            <div style="display: flex;flex-direction: column;">
                <mat-card class="example-card-item">
                    <div style="padding: 10px;" >
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <div style="display: flex;align-items: center;">
                            <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                            <span>
                                Tech Innovators Inc.
                            </span>
                        </div>
            
                    </div>
                  <mat-card-content>
                  <div style="display: flex;align-items: center;" >
                   <span style="font-weight: bold;">
                    Salary:
                   </span>$90,000 - $120,000 / year
                  </div>
                  <hr>
                  <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        Skills:
                    </span>Python, Excel, Tableau, Power BI
                   </div>
                   <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        City:
                    </span>Da Nang
                   </div>
               
                  </mat-card-content>
            
                </mat-card>
                <mat-card class="example-card-item">
                    <div style="padding: 10px;" >
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <div style="display: flex;align-items: center;">
                            <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                            <span>
                                Tech Innovators Inc.
                            </span>
                        </div>
            
                    </div>
                  <mat-card-content>
                  <div style="display: flex;align-items: center;" >
                   <span style="font-weight: bold;">
                    Salary:
                   </span>$90,000 - $120,000 / year
                  </div>
                  <hr>
                  <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        Skills:
                    </span>Python, Excel, Tableau, Power BI
                   </div>
                   <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        City:
                    </span>Da Nang
                   </div>
               
                  </mat-card-content>
            
                </mat-card>
                <mat-card class="example-card-item">
                    <div style="padding: 10px;" >
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <div style="display: flex;align-items: center;">
                            <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                            <span>
                                Tech Innovators Inc.
                            </span>
                        </div>
            
                    </div>
                  <mat-card-content>
                  <div style="display: flex;align-items: center;" >
                   <span style="font-weight: bold;">
                    Salary:
                   </span>$90,000 - $120,000 / year
                  </div>
                  <hr>
                  <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        Skills:
                    </span>Python, Excel, Tableau, Power BI
                   </div>
                   <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        City:
                    </span>Da Nang
                   </div>
               
                  </mat-card-content>
            
                </mat-card>
                <mat-card class="example-card-item">
                    <div style="padding: 10px;" >
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <div style="display: flex;align-items: center;">
                            <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                            <span>
                                Tech Innovators Inc.
                            </span>
                        </div>
            
                    </div>
                  <mat-card-content>
                  <div style="display: flex;align-items: center;" >
                   <span style="font-weight: bold;">
                    Salary:
                   </span>$90,000 - $120,000 / year
                  </div>
                  <hr>
                  <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        Skills:
                    </span>Python, Excel, Tableau, Power BI
                   </div>
                   <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        City:
                    </span>Da Nang
                   </div>
               
                  </mat-card-content>
            
                </mat-card>
                <mat-card class="example-card-item">
                    <div style="padding: 10px;" >
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <div style="display: flex;align-items: center;">
                            <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                            <span>
                                Tech Innovators Inc.
                            </span>
                        </div>
            
                    </div>
                  <mat-card-content>
                  <div style="display: flex;align-items: center;" >
                   <span style="font-weight: bold;">
                    Salary:
                   </span>$90,000 - $120,000 / year
                  </div>
                  <hr>
                  <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        Skills:
                    </span>Python, Excel, Tableau, Power BI
                   </div>
                   <div style="display: flex;align-items: center;" >
                    <span style="font-weight: bold;">
                        City:
                    </span>Da Nang
                   </div>
               
                  </mat-card-content>
            
                </mat-card>
              </div>

        </div>
        <div class="col-8">
            <mat-card class="example-card-body">
                <div style="padding: 10px; display: flex;align-items: center;" >
                  
                    <img  style="width: 60px;" mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                    <div style="display: flex;flex-direction: column; padding-left: 20px;width: 100%;">
                        <span class="titleitem">
                            Software Engineer
                        </span>
                        <span>
                            Tech Innovators Inc.
                        </span>
                       
                        <div style="display: flex;align-items: center; border-top: 1px solid;" >
                            <span style="font-weight: bold;">
                             Salary:
                            </span>$90,000 - $120,000 / year
                           </div>
                    </div>
        
                </div>
                <div style="width: 100%;   padding-right: 20px;
                padding-left: 20px;">
                    <button style="border: none;
                    height: 30px;
                    width: 100%;
                    padding-right: 20px;
                    padding-left: 20px;
                    background-color: red;
                    color: white;
                    border-radius: 5px;"> APPY NOW</button>
                </div>
                <div style="display: flex ;justify-content: space-around; padding: 20px;">
                    <div style="display: flex;align-items: center;">
                        <mat-icon>home</mat-icon>
                        <span style="font-weight: bold;">
                             Working model:
                        </span>
                        <span>
                            Hybrid
                            </span>
                    </div>
                    <div  style="display: flex;align-items: center;">
                        <mat-icon> location_on</mat-icon>
                        <span style="font-weight: bold;">
                            City:
                        </span>
                        <span>
                           Da Nang
                            </span>
                    </div>
                </div>
              
              <mat-card-content style="border-top:  1px solid; padding-top: 20px;">
               
           
       <div>
        <h2>
            Reasons to apply
        </h2>
        <div style="display: flex;flex-direction: column;">
          
            <div >
                <span>
                    1.
                </span>
                <span style="font-weight: bold;">
                    Cutting-Edge Projects:
                </span>
                Join a team at the forefront of technological innovation. As a Software Engineer with Tech Innovators Inc., you'll have the opportunity to work on cutting-edge projects that shape the future of the tech industry.
            </div>
       
              
            <div style="padding-top: 20px;" >
                <span>
                    2.
                </span>
                <span style="font-weight: bold;">
                    Remote Flexibility:
                </span>
                Enjoy the freedom to work from anywhere. Embrace a healthy work-life balance with our remote working model, allowing you to contribute your skills and expertise without being tied to a traditional office setting.
            </div>
            <div style="padding-top: 20px;" >
                <span>
                    3.
                </span>
                <span style="font-weight: bold;">
                    Collaborative Culture
                </span>
                Thrive in a collaborative and supportive work environment. At Tech Innovators Inc., we value teamwork and creativity. Join a culture that encourages open communication, idea sharing, and continuous learning.
            </div>
      
            </div>
          
       </div>
       <div style="border-top:  1px solid; margin-top:  20px;">
        <h2 style="margin-top: 20px;">
            Job requirements
        </h2>
        <div style="display: flex;flex-direction: column;">
          
            <ul >
                <li>Bachelor's degree in Computer Science or related field.</li>
                <li>Proven experience in software development.  </li>
                <li>Proficient in coding, debugging, and troubleshooting.</li>
                <li>Strong collaboration and communication skills.</li>
                <li>Knowledge of industry trends and innovative technologies.</li>
                <li>Ability to work effectively in a remote or hybrid work environment.</li>
             </ul>
       
              
      
       
      
            </div>

            <h2 style="margin-top: 20px;">
                Preferred Qualifications
            </h2>
            <div style="display: flex;flex-direction: column;">
              
                <ul >
                    <li>Master's degree in Computer Science.</li>
                    <li>Familiarity with emerging technologies in the software development field.</li>
                    <li>Experience working in an agile development environment.</li>
                    <li>Strong communication and collaboration skills.</li>
                    <li>Ability to adapt to evolving industry trends and technologies.</li>
                 </ul>
           
                  
          
           
          
                </div>
              
          
       </div>
          
 
        <div style="border-top:  1px solid; margin-bottom: 10px;">
            <h2 style="margin-top: 10px;">
                Tech Innovators Inc.
            </h2>
    
       <div style="display: flex;flex-direction: column;">
          
        <span style="font-weight: bold;">About us:</span>
        <span>
         Tech Innovators Inc. is a trailblazing technology company committed to pushing the boundaries of innovation and excellence. With a passion for cutting-edge solutions, we thrive on creating a dynamic and collaborative environment where creativity meets technical expertise.
        </span>
        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
         <div style="display: flex;flex-direction: column    ;">

         
<div style="display: flex;align-items: center;">
 <span style="font-weight: bold;">Working model:</span>
 <span>
     Hybrid
 </span>
</div>
<div style="display: flex;align-items: center;">
 <span style="font-weight: bold;">Scale:</span>
 <span>
     100+
 </span>
</div>
</div>
<div style="display: flex;flex-direction: column    ;">


<div style="display: flex;align-items: center;">
 <span style="font-weight: bold;">City:</span>
 <span>
     Da Nang
 </span>
</div>
<div style="display: flex;align-items: center;">
 <span style="font-weight: bold;">Time:</span>
 <span>
     08:00 - 17:00
 </span>
</div>
</div>
        </div>
   
    
   
         </div>
        </div>
              </mat-card-content>
        
            </mat-card>
        </div>

      </div>

      </div>
    
    
    <!--  load body foodter -->
    
    
 
        
    
      