<div  class="h-100" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
        <div  style="display: flex;
        text-align: center;flex-direction: column;">
           <span class="title" style="color: white;">
            Find Your Next Career Move
           </span>
           <span style="padding-bottom: 30px; color: white;">
            Unlock your IT career potential. Explore our job listings now and take the next step towards success!
           </span>
           <div class="input-group mb-3" style="justify-content: center;">
            <div style="width: 50%;">
              <input  [ngModelOptions]="{standalone: true}"   (ngModelChange)="saverange($event)"  [(ngModel)]="searchtext" style="border-radius: 5px;" type="text" class="form-control" placeholder="Search for jobs" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <div  style="padding-bottom: 20px;" >
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Search</button>
                    <!-- <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button> -->
                    <!-- <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:;">Job Title</a>
                      <a class="dropdown-item" href="javascript:;">Job Skill</a>
                     
                  </div> -->
            </div>
          </div>
          <div style="display: flex;width: 100%;justify-content: center; margin-bottom: 50px;">
            <div style="    width: 50%;
            display: flex;
            justify-content: space-between;
            color: white;">
              <span class="itemborder">
                Data Analyst
              </span>
              <span  class="itemborder">
                Front-end Developer
              </span  >
              <span class="itemborder">
                Developer
              </span>
            </div>
          </div>
      
        </div>
      
    <!--  load body -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px 130px 50px 130px;; ">
    
    <ng-container >
      <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
        <span style="display: flex; font-size: 27px;font-weight: bold;">Top IT Jobs in Vietnam
           </span>
     
      </div>
      <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
        <div *ngFor="let item of listrandom">

        
        <mat-card class="example-card" style="margin-top: 10px;margin-right: 10px;" [routerLink]="['/all-job/','detail',item._id]" >
            <div style="padding: 10px;" >
                <span class="titleitem">
                   {{item.namejob}}
                </span>
                <div style="display: flex;align-items: center;">
                    <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                    <span>
                        {{item.namecty}}
                    </span>
                </div>
    
            </div>
          <mat-card-content>
          <div style="display: flex;align-items: center;" >
           <span style="font-weight: bold;padding-left: 5px;">
            Salary:
           </span> {{item.minsalary| currency}}-{{item.maxsalary| currency}} / year
          </div>
          <hr>
          <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold;padding-left: 5px;"> Skills:</span>
            <div *ngIf="item.listSkill.length<=2" style="display: flex;">
                <div *ngFor="let skill of item.listSkill" >
                    <span style="font-weight: bold;">
                      
                    </span>{{skill}},
                </div>
            </div>
            <div *ngIf="item.listSkill.length>2" style="display: flex;">
                <div *ngFor="let skill of item.listSkill.slice(0,2)" >
                    <span style="font-weight: bold;">
                      
                    </span>{{skill}},
                </div>
                <span>...</span>
            </div>
           
           
           </div>
           <div style="display: flex;align-items: center;" >
            <span style="font-weight: bold; padding-left: 5px;">
                City:
            </span>{{item.location}}
           </div>
       
          </mat-card-content>
    
        </mat-card>
    </div>
      
      </div>
    
    </ng-container>
    </div>
    
    <!--  load body center -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px; margin: 0px;">
     <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
      <h1 style="font-weight: bold;">
        {{listAllJob.length}} IT jobs in Vietnam
      </h1>
      <div class="dropdown dropleft">
        <button style="   background-color: red; border: none;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>filter_list</mat-icon> Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a (click)="GetAllJob()" class="dropdown-item" href="javascript:;">All</a>
          <a (click)="GetAllJobLocation('Hà Nội')" class="dropdown-item" href="javascript:;">Ha Noi</a>
          <a  (click)="GetAllJobLocation('Đà Nẵng')" class="dropdown-item" href="javascript:;">Da Nang</a>
          <a  (click)="GetAllJobLocation('Cần Thơ')" class="dropdown-item" href="javascript:;">Can Tho</a>
          <a  (click)="GetAllJobLocation('Hồ Chí Minh')" class="dropdown-item" href="javascript:;">Ho Chi Minh</a>
          <a  (click)="GetAllJobLocation('Bình Dương')" class="dropdown-item" href="javascript:;">Binh Duong</a>
        </div>
      </div>
        <!-- <button style="border: none;
        height: 40px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: red;
        color: white;
        border-radius: 5px;"> <mat-icon>filter_list</mat-icon> Filter</button> -->
      </div>

      <div class="row">
        <div class="col-3" style="display: flex;justify-content: center;">
            <div style="display: flex;flex-direction: column;">
                <div *ngFor="let job of listAllJob | paginate: { itemsPerPage: 4, currentPage: p }">

                    <mat-card    [routerLink]="['/all-job/','detail',job._id]"class="example-card"  style="margin-bottom: 20px;">
                        <div style="padding: 10px;" >
                            <span class="titleitem">
                               {{job.namejob}}
                            </span>
                            <div style="display: flex;align-items: center;">
                                <img class="itemimg"  mat-card-image src="../../assets/image/iconuser.png" alt="Photo of a Shiba Inu">
                                <span>
                                    {{job.namecty}}
                                </span>
                            </div>
                
                        </div>
                      <mat-card-content>
                      <div style="display: flex;align-items: center;" >
                       <span style="font-weight: bold;padding-left: 5px;">
                        Salary:
                       </span> {{job.minsalary| currency}}-{{job.maxsalary| currency}} / year
                      </div>
                      <hr>
                      <div style="display: flex;align-items: center;" >
                        <span style="font-weight: bold;padding-left: 5px;"> Skills:</span>
                        <div *ngIf="job.listSkill.length<=2" style="display: flex;">
                            <div *ngFor="let skil of job.listSkill" >
                                <span style="font-weight: bold;">
                                  
                                </span>{{skil}},
                            </div>
                        </div>
                        <div *ngIf="job.listSkill.length>2" style="display: flex;">
                            <div *ngFor="let skil of job.listSkill.slice(0,2)" >
                                <span style="font-weight: bold;">
                                  
                                </span>{{skil}},
                            </div>
                            <span>...</span>
                        </div>
                       
                       
                       </div>
                       <div style="display: flex;align-items: center;" >
                        <span style="font-weight: bold; padding-left: 5px;">
                            City:
                        </span>{{job.location}}
                       </div>
                   
                      </mat-card-content>
                
                    </mat-card>
            </div>
           
              </div>

        </div>
       <div class="col-9" style="padding-right: 50px !important; ">
        <router-outlet  ></router-outlet>
          
        </div> 

      </div>
      <div class="text-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      </div>
    
    
    <!--  load body foodter -->
    
    
 
        
    
      