<div  class=" row" style="padding: 20px;margin: 0px;background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">

  <div class="col-4" style="flex-direction: column;text-align: center;">
     <h1 style="color: red;"> It hunter</h1>
    
     <p style="color: white;">
      Unlock top-tier tech and engineering talent. We connect you with experts who drive innovation and success.
     </p>
     <div>
      <img  class="imgfoooter" src="../../assets/image/FB.png">
      <img class="imgfoooter" src="../../assets/image/IN.png">
      <img class="imgfoooter" src="../../assets/image/x.png">
     </div>
  </div>

  <div class=" col-8">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="justify-content: end;margin-right:10px;">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      
            <div class="navbar-nav" style="color: white;">
              <div class=" itemcontent" style="display: flex;flex-direction: column;">
                <span class="item">About us</span>
                <div>
                  <p class="subitem">Home</p>
                  <p  class="subitem">FAQ</p>
                  
                </div>
              </div>
              <div class=" itemcontent" style="display: flex;flex-direction: column;">
                <span class="item">For Candidate</span>
                <div>
                  <p class="subitem">All Jobs</p>
                  <p  class="subitem">Upload CV</p>
                  
                </div>
              </div>
              <div class=" itemcontent" style="display: flex;flex-direction: column;">
                <span class="item">For Recruiter</span>
                <div>
                  <p class="subitem">Company Profile</p>
                  <p  class="subitem">Job Posting</p>
                  
                </div>
              </div>
              <div class=" itemcontent" style="display: flex;flex-direction: column;">
                <span class="item">Contact us</span>
                <div>
                  <p class="subitem">Help Center</p>
                  <p  class="subitem">Blog</p>
                  
                </div>
              </div>
            </div>

        </nav>
  </div>
  <div style="border-top:  2px solid white; color: white;justify-content: space-between;
  display: flex;padding: 20px;">
    <div>
      <span>©COPYRIGHT 2023-ITHUNTER</span>
    </div>
    <div style="margin-right: 40px;">
      
      <span style="margin-right: 20px;">Privacy Policy</span>
      <span>Terms & Conditions</span>
  </div>
</div>