<div  style="padding: 50px;">
    <div style="text-align: center;" >
      <!-- <button class="btn btn-outline-primary rounded float-right"
              [disabled]=editMode
              (click)="edit()">
        <i class="fas fa-pencil-alt"></i></button> -->
      <h1 style="font-weight: bold;"> Personal Information </h1>
      <!-- <h3 [hidden]="!editMode" style="color:orange"> Update Personal Information </h3> -->
    </div>
    <div class="card">
      <div class="left-container">
        <img src="../../assets/image/iconuserhunter.png" alt="Profile Image">
        <h2 class="gradienttext">{{Infor.lastName}} {{Infor.firstName}}</h2>
        <p>Web Developer</p>
      </div>
      <div class="right-container">
          <div (click)="Update()" style="width: 100%;text-align: end; cursor: pointer;padding-right: 2%;"> <mat-icon style="color: white;">edit</mat-icon></div>
        <h3 class="gradienttext">Profile</h3>
        <table>
            <tr>
                <td>FirstName :</td>
                <td>{{Infor.firstName}}</td>
              </tr>
              <tr>
                <td>LastName :</td>
                <td>{{Infor.lastName}}</td>
              </tr>
          <!-- <tr>
            <td>Mobile :</td>
            <td>+91 XXXXXXXXXX</td>
          </tr> -->
          <tr>
            <td>Email :</td>
            {{Infor.email}}
          </tr>
          <tr>
            <td>Role :</td>
            <td>  {{Infor.role}}</td>
          </tr>
        </table>
        <div class="credit">Made with <span style="color:tomato;font-size:20px;">❤ </span>by<a href="https://www.learningrobo.com/"> Learning Robo</a></div>
      </div>
    </div>
   
  </div>
  