<div  style="padding: 50px;">
    <div style="text-align: center;" >
      <!-- <button class="btn btn-outline-primary rounded float-right"
              [disabled]=editMode
              (click)="edit()">
        <i class="fas fa-pencil-alt"></i></button> -->
      <h1 style="font-weight: bold;"> Personal Information </h1>
      <!-- <h3 [hidden]="!editMode" style="color:orange"> Update Personal Information </h3> -->
    </div>
    <div class="card">
      <div class="left-container">
        <img src="../../assets/image/iconuserhunter.png" alt="Profile Image">
        <h2 class="gradienttext">{{Infor.lastName}} {{Infor.firstName}}</h2>
        <p>Web Developer</p>
      </div>
      <div class="right-container">
          <div (click)="Update()" style="width: 100%;text-align: end; cursor: pointer;padding-right: 2%;"> <mat-icon style="color: white;">edit</mat-icon></div>
        <div style="width: 100%;display: flex;justify-content: center;    padding: 13%;">

      
        <div  style="justify-content: center;
        flex-direction: column;
        display: flex;
        color: white;">
        <h1 style="text-align: start;" class="gradienttext">Profile</h1>

            <div>
                <span>FirstName :</span>
                <span>{{Infor.firstName}}</span>
              </div>
              <div>
                <span>LastName :</span>
                <span>{{Infor.lastName}}</span>
              </div>
          <!-- <tr>
            <td>Mobile :</td>
            <td>+91 XXXXXXXXXX</td>
          </tr> -->
          <span>
            <span>Email :</span>
            {{Infor.email}}
          </span>
          <span>
            <span>Role :</span>
            <span>  {{Infor.role}}</span>
          </span>
        </div>
      </div>
      </div>
    </div>
   
  </div>
  