<div  class="h-100" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
    <div  style="width: 100%;text-align: center;">
        <div  style="color: white;display: flex;
        text-align: center;flex-direction: column;padding-left: 40px;">
           <span class="title">
            Jobs by skills
           </span>
           <span style="padding-bottom: 30px;">
            Unlock Career Opportunities: Navigate our curated list of IT jobs categorized by skills. Find the perfect match for your expertise and embark on a rewarding journey in the dynamic world of technology
           </span>
           <div class="input-group mb-3" style="justify-content: center;">
            <div style="width: 50%;">
              <input style="border-radius: 5px;" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <div  >
              <span style="     border: none;background-color: red; color: white;" class="input-group-text" id="basic-addon2">Search</span>
            </div>
          </div>
         
      
        </div>
    
    </div>
    <!--  load body -->
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px;">
    
    <ng-container >
   
        <h1>All title</h1>
        <div *ngFor="let item of listSkill">
            <span>
              {{item.name}}
            </span>
        </div>
  
    
    </ng-container>
    </div>
  
    
  
    
  
        
    
      