<div  class="h-100" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
<div class="row">
    <div class="col-9" style="color: white;display: flex;
    text-align: center;flex-direction: column;padding-left: 40px;">
       <span class="title">
        Expert Tech & Engineer & Talent Recruitment
       </span>
       <span style="padding-bottom: 30px;">
        Unlock top-tier tech and engineering talent. We connect you with experts who drive innovation and success.
       </span>
       <div class="input-group mb-3" style="justify-content: center;">
        <div style="width: 50%;">
          <input  routerLink="/all-job" style="border-radius: 5px;" type="text" class="form-control" placeholder="Search for jobs" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div  >
          <span  routerLink="/all-job" style="     border: none;background-color: red; color: white;" class="input-group-text" id="basic-addon2">Search</span>
        </div>
      </div>
      <div style="display: flex;width: 100%;justify-content: center; margin-bottom: 50px;">
        <div style="    width: 50%;
        display: flex;
        justify-content: space-between;
        color: white;">
          <span  routerLink="/all-job" class="itemborder">
            Data Analyst
          </span>
          <span   routerLink="/all-job" class="itemborder">
            Front-end Developer
          </span  >
          <span  routerLink="/all-job" class="itemborder">
            Developer
          </span>
        </div>
      </div>
  
    </div>
    <div class="col-3">
        <img style="width: 60%;" src="../../assets/image/hero.png">
    </div>
</div>
<!--  load body -->
<div style="background-color: white;  z-index: 99999;
position: relative;   padding: 50px;">

<ng-container >
  <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
    <h1> Where do you want to work?</h1>
    <button (click)="LoadLocation(null)"   style="border: none;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;"> See All</button>
  </div>
  <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
    <mat-card class="example-card">
      <div style="    text-align: center;" >
        <img  class="itemimg" mat-card-image src="../../assets/image/binhduong.jpg" alt="Photo of a Shiba Inu">

      </div>
    <mat-card-content>
    <span style="font-size: 20px; font-weight: bold;">
      Binh Duong
    </span>
    </mat-card-content>
  <div style="display: flex;justify-content: space-between;padding: 15px;">
    <span>
      140+ Jobs Available
    </span>
    <button  (click)="LoadLocation('Bình Dương')"  class="itembutton">SEE ALL</button>
  </div>
  </mat-card>
  <mat-card class="example-card">
    <div style="    text-align: center;" >
      <img  class="itemimg" mat-card-image src="../../assets/image/hanoi.jpg" alt="Photo of a Shiba Inu">

    </div>
  <mat-card-content>
  <span style="font-size: 20px; font-weight: bold;">
  Ha Noi City
  </span>
  </mat-card-content>
<div style="display: flex;justify-content: space-between;padding: 15px;">
  <span>
    2000+ Jobs Available
  </span>
  <button (click)="LoadLocation('Hà Nội')"  class="itembutton">SEE ALL</button>
</div>
</mat-card>
    <mat-card class="example-card">
        <div style="    text-align: center;" >
          <img  class="itemimg" mat-card-image src="../../assets/image/hcm.png" alt="Photo of a Shiba Inu">

        </div>
      <mat-card-content>
      <span style="font-size: 20px; font-weight: bold;">
        Ho Chi Minh City
      </span>
      </mat-card-content>
    <div style="display: flex;justify-content: space-between;padding: 15px;">
      <span>
        1000+ Jobs Available
      </span>
      <button (click)="LoadLocation('Hồ Chí Minh')"   class="itembutton">SEE ALL</button>
    </div>
    </mat-card>
    <mat-card class="example-card">
      <div style="    text-align: center;" >
        <img class="itemimg" mat-card-image src="../../assets/image/danang.png" alt="Photo of a Shiba Inu">

      </div>
    <mat-card-content>
    <span style="font-size: 20px; font-weight: bold;">
    Da Nang City
    </span>
    </mat-card-content>
  <div style="display: flex;justify-content: space-between;padding: 15px;">
    <span>
      800+ Jobs Available
    </span>
    <button (click)="LoadLocation('Đà Nẵng')"    class="itembutton">SEE ALL</button>
  </div>
  </mat-card>
  <mat-card class="example-card">
    <div style="    text-align: center;" >
      <img class="itemimg" mat-card-image src="../../assets/image/cantho.png" alt="Photo of a Shiba Inu">

    </div>
  <mat-card-content>
  <span style="font-size: 20px; font-weight: bold;">
   Can Tho City
  </span>
  </mat-card-content>
<div style="display: flex;justify-content: space-between;padding: 15px;">
  <span>
    500+ Jobs Available
  </span>
  <button (click)="LoadLocation('Cần Thơ')"   class="itembutton">SEE ALL</button>
</div>
</mat-card>
  </div>

</ng-container>
</div>

<!--  load body center -->
<div class="row" style="background-color: white;  z-index: 99999;
position: relative;   padding: 50px; margin: 0px;">
    <div class="col-8">
      <div>
        <div style="display: flex;flex-direction: column;" >
          <span style="font-size: 25px;font-weight: bold;">About IT hunter</span>
        </div>
        <p style="padding-top: 30px;">
          IT Hunter is your dedicated partner in the world of IT careers. We specialize in connecting talented IT professionals with the best job opportunities in Vietnam's thriving tech industry. Our platform is designed with you in mind,
           making it easy to find your dream job or discover 
           the perfect IT talent for your company. Join us in shaping the future of IT in Vietnam. Welcome to IT Hunter – where careers take flight.
        </p>
        <button  routerLink="/abount"  style="background-color: red; color: white;border: none;padding: 10px; border-radius: 5px;font-weight: bold;">More about us</button>
      </div>
</div>
<div class="col-2">
<img  src="../../assets//image/ithunter.png">
</div>
  </div>


<!--  load body foodter -->
  <div>
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px;">
    
    <ng-container >
      <div style="display: flex;justify-content: space-between;padding-bottom: 15px;">
        <h1>Latest articles</h1>
        <button  routerLink="/blog"   style="border: none;
        height: 30px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: red;
        color: white;
        border-radius: 5px;"> See All</button>
      </div>
      <div >
         
          <div style="display: flex;
          flex-wrap: wrap;    justify-content: center;">
            <div class="portfolio-content">
                  <div class="portfolio-item" >
                    <img src="../../assets/image/2.jpg" >
                    <div class="details">
                      <div class="row" style="color: white;">
                          <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                              <img class="avataritem" src="../../assets/image/avatar.jpg">
                          </div>
                          <div class="col-9">
                              <div style="display: flex;flex-direction: column;">
                                <span> Khánh Ly - IT HR</span>
                                  <span style="font-weight: bold;">
                                    The Importance of Mental Health Sick Days
                                  </span>
                              </div>
                          </div>
                      </div>
                    
                    </div>
                  </div>
              
            </div>
            <div class="portfolio-content">
                  <div class="portfolio-item" >
                    <img src="../../assets/image/3.jpg" >
                    <div class="details">
                      <div class="row" style="color: white;">
                        <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                            <img class="avataritem" src="../../assets/image/avatar.jpg">
                        </div>
                        <div class="col-9">
                            <div style="display: flex;flex-direction: column;">
                              <span>Trịnh Công Sơn - IT Manager</span>
                                <span style="font-weight: bold;">
                                  How to find an IT job in 2023
                                </span>
                            </div>
                        </div>
                    </div>
                      
                </div>
              </div>
              
            </div>
            <div class="portfolio-content">
              <div class="portfolio-item" >
                <img src="../../assets/image/3.jpg" >
                <div class="details">
                  <div class="row" style="color: white;">
                    <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                        <img class="avataritem" src="../../assets/image/avatar.jpg">
                    </div>
                    <div class="col-9">
                        <div style="display: flex;flex-direction: column;">
                          <span>Trịnh Công Sơn - IT Manager</span>
                            <span style="font-weight: bold;">
                              How to find an IT job in 2023
                            </span>
                        </div>
                    </div>
                </div>
                  
            </div>
          </div>
          
        </div>
        <div class="portfolio-content">
          <div class="portfolio-item" >
            <img src="../../assets/image/3.jpg" >
            <div class="details">
              <div class="row" style="color: white;">
                <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                    <img class="avataritem" src="../../assets/image/avatar.jpg">
                </div>
                <div class="col-9">
                    <div style="display: flex;flex-direction: column;">
                      <span>Trịnh Công Sơn - IT Manager</span>
                        <span style="font-weight: bold;">
                          How to find an IT job in 2023
                        </span>
                    </div>
                </div>
            </div>
              
        </div>
      </div>
      
    </div>
            <div class="portfolio-content">
                  <div class="portfolio-item" >
                    <img src="../../assets/image/4.jpg" >
                    <div class="details">
                      <div class="row" style="color: white;">
                        <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                            <img class="avataritem" src="../../assets/image/avatar.jpg">
                        </div>
                        <div class="col-9">
                            <div style="display: flex;flex-direction: column;">
                              <span>Thu Trang - Contributor</span>
                                <span style="font-weight: bold;">
                                  The AI Revolution: Transforming the Public Sector
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
              
            </div>
            <div class="portfolio-content">
                  <div class="portfolio-item" >
                    <img src="../../assets/image/5.jpg" >
                    <div class="details">
                      <div class="row" style="color: white;">
                        <div class="col-3" style="display: flex;justify-content: center; align-items: center;">
                            <img class="avataritem" src="../../assets/image/avatar.jpg">
                        </div>
                        <div class="col-9">
                            <div style="display: flex;flex-direction: column;">
                              <span>Anh Tuấn - Contributor</span>
                                <span style="font-weight: bold;">
                                  The AI Revolution: Transforming the Public Sector
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
              
            </div>
          </div>
      </div>
    
    
    </ng-container>
    </div>
  </div>

  <div>
    <div style="background-color: white;  z-index: 99999;
    position: relative;   padding: 50px;">

    <div style="display: flex;align-items: center;">
      <img src="../../assets/image/email.png">
      <div style="display: flex;flex-direction: column;">
        <span style="font-size: 25px;font-weight: bold;">
          Subscribe & get our updates every week
        </span>
        <span style="padding-top: 15px;padding-bottom: 15px;font-size: 20px;">
          We have a big blog related to IT so we can share thoughts and routines on our blog which is updated weekly.
        </span>
        
<div class="input-group mb-3">
  <input style="border: 1px solid red;" type="text" class="form-control" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <span style="background-color: red;color: white;" class="input-group-text" id="basic-addon2">Subscribe</span>
</div>
      </div>
    </div>
    </div>  
  </div>
    

  