<div  class=" row" style="padding: 20px;margin: 0px;background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

">

    <div   routerLink="/home" class="col-2" style="color: red;cursor: pointer;">
       <h2> It hunter</h2>
    </div>

    <div class=" col-10">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="    justify-content: end;" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="justify-content: space-between;">
                       <a  routerLinkActive="menu-item-active"  routerLink="/abount"  class="nav-item nav-link itemcontent" href="javascript:;">About us </a>
                <!-- <a routerLinkActive="menu-item-active"  routerLink="/for-candidate"  class="nav-item nav-link itemcontent" href="javascript:;">For Candidate</a> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    For Candidate
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:;">Profile Management</a></li>
                    <li><a class="dropdown-item" hhref="javascript:;">Save/Applied Job</a></li>
                    <li><hr class="dropdown-divider"> </li>
                    <li class="nav-item dropend dropdown-item" style="padding:  0px !important;">
                      <a style="color: white;"  class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     All Job
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item"href="javascript:;">Job by skill</a></li>
                        <li><a class="dropdown-item" href="javascript:;">Job by title</a></li>
                        <li><hr class="dropdown-divider"></li>
                     
                      </ul>
                    </li>
                  </ul>
              </li>
                 <!-- <a  routerLinkActive="menu-item-active"  routerLink="/dashboard-recruiter" class="nav-item nav-link itemcontent" href="javascript:;">For Recruiter</a> -->
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    For Recruiter
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:;">All Job</a></li>
                    <li><a class="dropdown-item" hhref="javascript:;">Job Posting</a></li>
                    <li ><a  routerLink="/profile-seeker" class="dropdown-item" hhref="javascript:;">Profile</a></li>
                   
                  </ul>
              </li>
                <a class="nav-item nav-link itemcontent " href="javascript:;">Contact us </a>
              </div>
            </div>
           
          <button  routerLink="/login" style="background-color: red;color: white;border-radius: 10px;padding: 7px;">Sign In/Register</button>

          </nav>
    </div>
</div>