<div  class=" row" style="padding: 20px;margin: 0px;background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

">

    <div   routerLink="/home" class="col-2" style="color: red;cursor: pointer;">
       <!-- <h2> It hunter</h2> -->
       <img style="    width: 200px;" src="../../assets/image/logohunter.jpg">
    </div>

    <div class=" col-10">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="    justify-content: end;" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="justify-content: space-between;">
                       <a  routerLinkActive="menu-item-active"  routerLink="/abount"  class="nav-item nav-link itemcontent" href="javascript:;">About us </a>
                       <a  routerLinkActive="menu-item-active"  routerLink="/blog"  class="nav-item nav-link itemcontent" href="javascript:;">Blog </a>
                      
                        <a  routerLinkActive="menu-item-active"   routerLink="/all-job"  class="nav-item nav-link itemcontent" href="javascript:;">  All Job </a>
                        <!-- <ul class="dropdown-menu">
                          <li><a routerLink="/all-skill" class="dropdown-item" href="javascript:;">Job by skill</a></li>
                          <li><a routerLink="/all-title" class="dropdown-item" hhref="javascript:;">Job by title</a></li>
                        </ul> -->
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    For Candidate
                  </a>
                  <ul class="dropdown-menu">
                    <!-- <li><a  class="dropdown-item" href="javascript:;">Profile Management</a></li> -->
                    <li><a  routerLink="/apply"  class="dropdown-item" hhref="javascript:;">Save/Applied Job</a></li>
                    <!-- <li><hr class="dropdown-divider"> </li> -->
                    <!-- <li class="nav-item dropend dropdown-item" style="padding:  0px !important;">
                      <a style="color: white;"  class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     All Job
                      </a>
                      <ul class="dropdown-menu">
                        <li><a routerLink="/all-skill" class="dropdown-item"href="javascript:;">Job by skill</a></li>
                        <li><a routerLink="/all-title" class="dropdown-item" href="javascript:;">Job by title</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                    </li> -->
                  </ul>
              </li>
                 <!-- <a  routerLinkActive="menu-item-active"  routerLink="/dashboard-recruiter" class="nav-item nav-link itemcontent" href="javascript:;">For Recruiter</a> -->
                 <li class="nav-item dropdown" *ngIf="roles=='Admin'|| roles=='Recruiter'">
                  <a class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    For Recruiter
                  </a>
                  <ul class="dropdown-menu">
                    <li><a   routerLink="/my-job" class="dropdown-item" href="javascript:;">My Job</a></li>
                    <li><a routerLink="/post" class="dropdown-item" hhref="javascript:;">Job Posting</a></li>
                 
                  </ul>
              </li>
                <a routerLink="/contact"  class="nav-item nav-link itemcontent " href="javascript:;">Contact us </a>
                <li class="nav-item dropdown" *ngIf="user">
                 
                  <a style="font-weight: bold; color: red; margin-top: -10px;" class="nav-link dropdown-toggle" href="javascript:;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/image/iconuserhunter.png">   {{user.lastName}} {{user.firstName}}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a (click)="logout()" class="dropdown-item" href="javascript:;">Logout</a></li>
                       <li><a routerLink="/profile" class="dropdown-item" hhref="javascript:;">Profile</a></li>
                  </ul>
              </li>
              </div>
            </div>

        
           
          <button *ngIf="!user"  routerLink="/login" style="background-color: red;color: white;border-radius: 10px;padding: 7px;">Sign In/Register</button>


          <!-- {{user.lastName}} {{user.firstName}} -->
         
          <!-- <button (click)="logout()" *ngIf="user"  routerLink="/login" style="background-color: red;color: white;border-radius: 10px;padding: 7px;">Logout</button> -->
          </nav>
    </div>
</div>